<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>考试</title>
    <script src="../js/vue/vue.js"></script>
    <script src="../js/vue/index.js"></script>
    <script src="../js/vue/axios.min.js"></script>
    <script src="../js/date.js"></script>
    <script src="../js/request.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>
    <style>
        @import url("https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css");
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-row :gutter="20">
                    <el-col :span="8">
                        <div class="conutdown" style="float:left;">
                            用户 : {{username}}
                        </div>
                    </el-col>
                    <el-col :span="8" class="conutdown">
                        <div>
                            <i class="el-icon-alarm-clock"></i> : {{showCountDownTime}}
                        </div>
                    </el-col>
                    <el-col :span="8">
                        <div style="float: right;;">
                            <el-button size="mini" round @click="exitExam()">退出考试</el-button>
                        </div>
                    </el-col>
                    </el-col>
                </el-row>

            </el-header>
            <el-container>
                <el-aside width="360px">
                    <div class="el-calendar" style="height:400px; overflow: auto;">
                        <div class="el-calendar__header">
                            <div class="el-calendar__title">
                                <i class="el-icon-reading"></i> 完成度: {{completeSubject}} / {{sxs.length}}
                            </div>
                            <div class="el-calendar__button-group">
                                <div class="el-button-group">
                                    <button type="button" @click="nextNoComleteSubject"
                                        class="el-button el-button--plain el-button--mini">
                                        <span>
                                            下一个未做
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="el-calendar__body">
                            <table cellspacing="0" cellpadding="0" class="el-calendar-table">
                                <tbody>
                                    <tr class="el-calendar-table__row" v-for="i in Math.ceil(subs.length/5)">
                                        <td class="current" v-for="j in 5">
                                            <div v-if="sxs[(i-1)*5+j-1]==1&&sxs[(i-1)*5+j-1]!=null"
                                                class="el-calendar-day" @click="changeSubject((i-1)*5+j-1)">
                                                <span style="font-size: 20px;">{{(i-1)*5+j}}</span>

                                            </div>
                                            <div v-else-if="sxs[(i-1)*5+j-1]==0&&sxs[(i-1)*5+j-1]!=null"
                                                class="el-calendar-day tuse" @click="changeSubject((i-1)*5+j-1)">
                                                <span style="font-size: 20px;">{{(i-1)*5+j}}</span>

                                            </div>
                                            <div v-else-if="sxs[(i-1)*5+j-1]==2&&sxs[(i-1)*5+j-1]!=null"
                                                class="el-calendar-day tquse" @click="changeSubject((i-1)*5+j-1)">
                                                <span style="font-size: 20px;">{{(i-1)*5+j}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="el-calendar" style="height:400px; overflow: auto;">
                        <div class="el-calendar__header">
                            <div class="el-calendar__title">
                                <div class="el-button-group">
                                    <button type="button" @click="drawer1 = true"
                                        class="el-button el-button--plain el-button--mini">
                                        <span class="el-icon-warning">
                                            注意事项
                                        </span>
                                    </button>
                                </div>
                            </div>

                        </div>
                        <div class="el-calendar__body">
                            <div class="el-calendar__button-group l">
                                <p> 考试名称 : {{exam.name}}</p>
                                <p> IP地址 : {{ip}} </p>
                                <p> 考试开始时间 : {{exam.startdate}} </p>
                                <p> 考试结束时间 : {{exam.enddate}} </p>
                                <p v-if="exam.state==0"> 考试状态: 正在考试 </p>
                                <p v-else-if="exam.state==3"> 考试状态: 考试公布 </p>
                                <p v-else-if="exam.state==2"> 考试状态: 已经提交 </p>
                                <p v-else> 考试状态: 考试结束 </p>
                                <p> 考试得分 : {{ exam.df }} </p>
                            </div>
                        </div>
                    </div>
                </el-aside>
                <el-main id="main">
                    <div>
                        <div>
                            <div class="exh">
                                <el-row>
                                    <el-col :span="2">
                                        <span>
                                            <el-button type="text" v-if="no!=0" @click="prvSubjuct()"><i
                                                    class="el-icon-back"></i> 上一题</el-button>
                                        </span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-button type="text" @click="drawer = true"> 第{{no+1}}题</el-button>
                                    </el-col>
                                    <el-col :span="2">
                                        <el-button type="text" v-if="no < subs.length-1" @click="nextSubject()">下一题 <i
                                                class="el-icon-right"></i> </el-button>
                                    </el-col>
                                </el-row>
                            </div>
                            <div class="ext" v-html="subject.content">

                            </div>
                            <el-drawer title="题目详情" :visible.sync="drawer" direction="ttb" size="80%">
                                <div class="ext" v-html="subject.content" style="height:600px;">

                                </div>
                            </el-drawer>
                            <el-drawer title="注意事项" :visible.sync="drawer1" direction="ttb" size="80%">
                                <div class="exw" v-html="exam.info">
                                </div>
                            </el-drawer>
                        </div>
                        <br>
                        <div>
                            <div class="e" style="background:#67C23A;font-size: 22px;">
                                作答区 <span style="float:right;">
                                    <el-dropdown @command="changefz">
                                        <span class="el-dropdown-link">
                                            字号<i class="el-icon-arrow-down el-icon--right"></i>
                                        </span>
                                        <el-dropdown-menu slot="dropdown">
                                            <el-dropdown-item command="16">16px</el-dropdown-item>
                                            <el-dropdown-item command="18">18px</el-dropdown-item>
                                            <el-dropdown-item command="20">20px</el-dropdown-item>
                                            <el-dropdown-item command="24">24px</el-dropdown-item>
                                            <el-dropdown-item command="28">28px</el-dropdown-item>
                                        </el-dropdown-menu>
                                    </el-dropdown>
                                </span>
                            </div>
                            <div class="exd">
                                <div v-if="subject.part == 1">
                                    <div class="exz">
                                        <div v-if="subject.type == 1">
                                            <el-col style="margin-top:8px;" :span="24" v-for="op,i in subject.options">
                                                <el-tooltip class="item" effect="dark" :content="op" placement="top"
                                                    :disabled="(op.length < 64)">
                                                    <el-radio v-model="subject.select" :label="i" :disabled="disabled"
                                                        @change="isSelect(no)">
                                                        <span :style="fontsize">
                                                            {{ op.length>64? (op.substr(0,64) + "..." ) : op   }}
                                                        </span>
                                                    </el-radio>
                                                </el-tooltip>
                                            </el-col>
                                            <div v-if="state == 3" style="font-size: 18px;color: #67C23A;padding: 20px;">
                                                正确答案: {{String.fromCharCode(65+subject.answer)}}
                                            </div>
                                        </div>
                                        <div v-else>
                                            <div v-for="(o1,i1) in subject.options" style="margin-top:10px;">
                                                <el-checkbox-group v-model="subject.select">
                                                    <el-checkbox :label="i1" :key="i1" @change="isSelect(no)" :disabled="disabled">
                                                        <span
                                                            :style="fontsize">{{String.fromCharCode(65+i1)}}.{{o1}}</span>
                                                    </el-checkbox>
                                                </el-checkbox-group>
                                            </div>
                                            <div v-if="state == 3" style="font-size: 18px;color: #67C23A;padding: 20px;">
                                                正确答案: {{subject.answer.map(e=>{return String.fromCharCode(65+e)})}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-else-if="subject.part == 4" style="text-align:left;padding: 16px;">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-radio style="color:#67C23A" v-model="subject.select" :disabled="disabled"
                                                @change="isSelect(no)" :label="true"><i class="el-icon-check"></i> 正确
                                            </el-radio>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-radio style="color:red;" v-model="subject.select" @change="isSelect(no)" :disabled="disabled"
                                                :label="false"><i class="el-icon-close"></i> 错误</el-radio>
                                        </el-col>
                                    </el-row>
                                    <div v-if="state == 3" style="font-size: 18px;color: #67C23A;padding: 20px;">
                                        正确答案: {{subject.answer}}
                                    </div>
                                </div>
                                <div v-else-if="subject.part == 3" style="height:400px;text-align:left;">
                                    <div id="txt" v-loading="loading" @click="checkEditor">

                                    </div>
                                </div>
                                <div v-else-if="subject.part == 2">
                                    <el-form label-position="left" label-width="80px">
                                        <el-form-item v-for="i in subject.answer.length" :label="'第'+i+'空'">
                                            <el-input :disabled="disabled" v-model="subject.inputs[i-1]" @blur="checkTK(subject)"></el-input>
                                        </el-form-item>
                                    </el-form>
                                    <div v-if="state == 3">
                                        <div>
                                            正确答案:
                                        </div>
                                        <div v-for="(a,si) in subject.answer">
                                            第 {{si+1}} 空 : {{a.txt.join(",")}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div style="float:right;">
                                <el-button type="primary" @click="addflag(no)">添加标记</el-button>
                            </div>
                        </div>
                    </div>
                </el-main>
            </el-container>
            <el-container>
                <el-footer>
                    Copyright © 2021 XXX. All Rights Reserved.
                    <br>
                    XXXX有限公司 版权所有
                </el-footer>
            </el-container>
        </el-container>
        </el-container>
    </div>
</body>
<style>
    .el-radio__label {
        display: inline;
        font-size: 20px;
    }

    .el-calendar-table .el-calendar-day {
        height: 100%;
    }
</style>
<script>
    let id = getOneUrlStr('id');
    let ex = {
        sid: getUserInfo().id,
        eid: id,
        state: 0,
        message: '',
        info: '',
        ip: returnCitySN['cip'],
        date: getNowDate(),
        submit: ''
    }
    var app = new Vue({
        el: '#app',
        data() {
            return {
                showCountDownTime: '00:00:00',
                sxs: [],
                userdevice: {
                    ip: "",
                    city: '',
                },
                radio: 3,
                subject: {},
                subs: [],
                no: 0,
                exam: [],
                editor: null,
                fontsize: {
                    'font-size': '16px'
                },
                completeSubject: 0,
                loading: true,
                drawer: false,
                drawer1: false,
                username: getUserInfo().username,
                ip: returnCitySN['cip'],
                submits: [],
                state : 0,
                disabled : false
            }
        },
        methods: {
            addtitle(form) {
                console.log(form);
                this.exam.parts.push({ name: form.name, style: form.style, subject: [], total: 0 });
            },
            reUrl(url) {
                window.location.href = url;
            },
            editEnd(i) {
                this.sxs[i] = 0;
            },
            prvSubjuct() {
                this.no--;
                this.subject = this.subs[this.no];
                this.isEditor();
            },
            nextSubject() {
                this.no++;
                this.subject = this.subs[this.no];
                this.isEditor();
            },
            isSelect(i) {
                if (this.sxs[i] == 1) {
                    this.sxs[i] = 0;
                    this.completeSubject++;
                }
            },
            nextNoComleteSubject() {
                for (let index = 0; index < this.sxs.length; index++) {
                    if (this.sxs[index] == 1) {
                        this.subject = this.subs[index];
                        this.no = index;
                        this.isEditor();
                        break;
                    }
                }
            },
            changeSubject(i) {
                if (app.editor) {
                    app.editor.config.onblur();
                }
                this.no = i;
                this.subject = this.subs[this.no];
                this.isEditor();
            },
            addflag(no) {
                this.sxs[no] = 2;
                this.$message({
                    type: 'success',
                    message: '添加成功!'
                })
            },
            exitExam() {
                if(this.disabled||this.e.state == 3){
                    this.reUrl('user.html');
                    return;
                }
                let ok = true;
                this.sxs.forEach(e => {
                    if (e == 1) {
                        ok = false;
                    }
                });
                this.$alert(ok ? '已经全部完成是否提交?' : '存在未完成的题目是否提交?', '提交试卷', {
                    confirmButtonText: '确定',
                    callback: action => {
                        if (action == 'confirm') {
                            ex.state = 2;
                            app.save(1);
                        }
                        else {
                            this.$message({
                                type: 'info',
                                message: '取消操作！'
                            });
                        }
                    }
                });
            },
            isEditor() {
                if (this.subs[this.no].part == 3) {
                    if (app.editor) {
                        app.editor.destroy();
                    }
                    setTimeout(() => {
                        app.editor = loadEditor('#txt', 300);
                        app.editor.txt.html(app.subject.input);
                        if(app.disabled)app.editor.disable();
                        app.editor.config.onblur = function () {
                            app.subject.input = app.editor.txt.html();
                            if (app.subject.input.trim() == '') {
                            }
                            else {
                                app.sxs[app.no] = 0;
                                this.completeSubject++;
                            }
                        }
                        app.loading = false;
                    }, 1500);
                }
                else {
                    app.loading = true;
                }
            },
            checkEditor() {
                this.sxs[this.no] = 0;
            },
            checkTK(s) {
                if ((!this.inputEmpty(this.subject.inputs)) && this.subject.inputs.length == this.subject.answer.length) {
                    this.sxs[this.no] = 0;
                    this.completeSubject++;
                }
                else {
                    this.sxs[this.no] = 1;
                }
            },
            changefz(s) {
                this.fontsize['font-size'] = s + 'px';
            },
            inputEmpty(array) {
                let done = false;
                console.log(array);
                if (array.length == 0) {
                    done = true;
                }
                array.forEach((e) => {
                    if (e == '') {
                        done = true;
                    }

                });
                return done;
            },
            save(i) {
                if (app.editor && this.subject.part == 3) {
                    app.subject.input = app.editor.txt.html();
                }
                ex.submit = JSON.stringify(app.exam.parts);
                request('POST', '/savestuexam', ex, function (res) {
                    if (i === 0) app.$message(res.data.message);
                    else { console.log("上传数据成功！") }
                    if (i === 1) {
                        request('GET', '/submitexam?eid=' + id + "&sid=" + getUserInfo().id, null, function (res) {
                            app.$message(res.data.message);
                            relaodView(2000);
                        }, null);
                    }
                }, null);
            },
            loadExamSubject() {
                app.subs = [];
                let idx = 0;
                this.completeSubject = 0;
                app.exam.parts.forEach((e, i) => {
                    e.content.forEach((s, l) => {
                        if (e.type == 1) {
                            if (!isNaN(s.select)||s.select != '') app.sxs[idx] = 0; this.completeSubject++;
                        }
                        else if (e.type == 2) {
                            if (s.inputs.length == s.answer.length) app.sxs[idx] = 0; this.completeSubject++;
                        }
                        else if (e.type == 3) {
                            if (s.input && s.input != '') app.sxs[idx] = 0; this.completeSubject++;
                        }
                        else {
                            if (s.select) app.sxs[idx] = 0; this.completeSubject++;
                        }
                        app.subs.push(s);
                        idx++;
                    });
                });
            }
        }
    });
    request('GET', '/exam/' + id, null, function (res) {
        res.data.parts = JSON.parse(res.data.parts);
        app.exam = res.data;
        let no = 0;
        app.exam.parts.forEach((e, i) => {
            e.content.forEach((s, l) => {
                if (e.type == 1 && s.type == 0 && s.select == '') {
                    s.select = [];
                }
                app.subs.push(s);
                app.sxs[no++] = 1;
            })
        });
        app.subject = app.subs[0];
        app.isEditor();
        console.log("加载试卷数据成功！")
    }, null);
    request('GET', '/stuexam?eid=' + id + "&sid=" + getUserInfo().id, null, function (res) {
        if (res.data) {
            ex.state = res.data.state;
            app.state =  ex.state;
            app.exam.df = res.data.score|| 0;
            app.disabled = (ex.state == 2) ? true : false;
            if (res.data.submit) {
                app.exam.parts = JSON.parse(res.data.submit);
            }
            if (res.data.result) {
                app.submits = JSON.parse(res.data.result);
            }
            app.loadExamSubject();
        }
        else {
            let f = { sid: getUserInfo().id, eid: id, state: 0 }
            request('POST', '/addstuexam', f, function (res) {
                console.log(res.data);
            }, null);
        }
        console.log("加载答题数据成功！")
    }, null, 2000);
    setInterval(() => {
        if((!app.disabled)&&ex.state==0){
            app.save();
        }
        app.showCountDownTime = friendlyCountDown(app.exam.enddate);
        if (new Date().getTime() - new Date(app.exam.enddate) > 0) {
            app.disabled = true;
            ex.state = 1;
        }
    }, 10000);
</script>

</html>