<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>题目集管理</title>
    <script src="../js/vue/vue.js"></script>
    <script src="../js/vue/index.js"></script>
    <script src="../js/vue/axios.min.js"></script>
    <script src="../js/date.js"></script>
    <script src="../js/request.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <style>
        @import url("https://unpkg.com/element-ui@2.13.0/lib/theme-chalk/index.css");
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-row>
                    <el-col :span="4">
                        <div style="float:left;">
                            <el-button type="text" @click="reUrl('../index.html')">
                                <span style="font-size:32px;"><i class="el-icon-platform-eleme"></i>线上考试平台</span>
                            </el-button>
                        </div>
                    </el-col>
                    <el-col :span="17">
                        <div>
                            &nbsp;
                        </div>
                    </el-col>
                    <el-col :span="2">
                        <div style="text-align: right;">
                            {{username}}
                        </div>
                    </el-col>
                    <el-col :span="1">
                        <el-popover placement="bottom" width="100" trigger="click">
                            <div>
                                <div class="userbored">
                                    <el-link href="account.html" icon="el-icon-user" :underline="false">个人中心</el-link>
                                </div>
                                <div class="userbored">
                                    <el-link href="../index.html" icon="el-icon-back" :underline="false">退出</el-link>
                                </div>
                            </div>
                            <el-button icon="el-icon-user-solid" slot="reference" circle></el-button>
                        </el-popover>
                    </el-col>
                </el-row>

            </el-header>
            <el-main id="main">
                <div>
                    <div class="add-t">
                        <el-button type="primary" @click="dialogFormVisible = true">添加题目集 <i
                                class="el-icon-circle-plus"></i></el-button>
                    </div>
                    <el-dialog title="添加试卷" :visible.sync="dialogFormVisible">
                        <el-form :model="form" style="text-align:left;">
                            <el-form-item label="名称" label-width="50px">
                                <el-input v-model="form.name" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="类型" label-width="50px">
                                <el-select v-model="form.type" placeholder="请选择">
                                    <el-option label="分类模式" value="1"></el-option>
                                    <el-option label="随机模式" value="2"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible = false">取 消</el-button>
                            <el-button type="primary" @click="addtp(form)">确 定</el-button>
                        </div>
                    </el-dialog>
                    <el-dialog title="修改试卷" :visible.sync="dialogFormVisible2">
                        <el-form :model="form2" style="text-align:left;">
                            <el-form-item label="名称" label-width="50px">
                                <el-input v-model="form2.name" autocomplete="off"></el-input>
                            </el-form-item>
                            <el-form-item label="类型" label-width="50px">
                                <el-select v-model="form2.type" placeholder="请选择">
                                    <el-option label="分类模式" value="1"></el-option>
                                    <el-option label="随机模式" value="2"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-form>
                        <div slot="footer" class="dialog-footer">
                            <el-button @click="dialogFormVisible2 = false">取 消</el-button>
                            <el-button type="primary" @click="updatetp(form2)">确 定</el-button>
                        </div>
                    </el-dialog>
                    <el-table :data="papers" border style="width: 100%">
                        <el-table-column fixed prop="date" label="日期">
                        </el-table-column>
                        <el-table-column prop="name" label="名称">
                        </el-table-column>

                        <el-table-column label="类型">
                            <template slot-scope="scope">
                                <span v-if="scope.row.type == 1">分类类型</span>
                                <span v-else>随机类型</span>
                            </template>
                        </el-table-column>
                        <el-table-column label="状态" width="120">
                            <template slot-scope="scope">
                                <el-tag v-if="scope.state === 1" type="danger">可用</el-tag>
                                <el-tag v-else type="success">不可用</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column fixed="right" label="操作">
                            <template slot-scope="scope">
                                <el-button @click="showPaper(scope.row)" type="text" size="small">查看</el-button>
                                <el-button @click="updatePaper(scope.row)" type="text" size="small">编辑</el-button>
                                <el-button @click="deltp(scope.row.id)" type="text danger" size="small">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>

                    <br><br>
                    <div class="block">
                        <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                            :current-page.sync="currentPage" :page-size="10" layout="total, prev, pager, next"
                            :total="papers.length">
                        </el-pagination>
                    </div>
                </div>
            </el-main>
            <el-container>
                <el-footer>
                    Copyright © 2021 XXX. All Rights Reserved.
                    <br>
                    XXXX有限公司 版权所有
                </el-footer>
            </el-container>
        </el-container>
        </el-container>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                search: '',
                username: getUserInfo().username,
                loginForm: {
                    id: '',
                    result: 0,
                    pass: ''
                },
                currentPage: 0,
                centerDialogVisible: false,
                date: new Date(),
                currentDate: new Date(),
                papers: [],
                form: {
                    name: '',
                    type: ''
                },
                dialogFormVisible: false,
                dialogFormVisible2: false,
                form2: {
                    name: '',
                    type: '',
                    id: 0
                },

            }
        },
        methods: {
            reUrl(url) {
                window.location.href = url;
            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
            },
            showPaper(item) {
                window.location.href = 'subjects.html?id=' + item.id;
            },
            addtp(form) {
                form.uid = getUserInfo().id;
                form.state = 1;
                form.date = getNowDate(1);
                app.dialogFormVisible = false;
                request('POST', '/addtp', form, function (res) {
                    responseType(app, res.data, '添加试卷成功!', '添加失败!');
                    relaodView(2000);
                }, null)
            },
            deltp(id) {
                warnconfirm(app, '是否删除？', function () {
                    request('POST', '/deltp/' + id, null, function (res) {
                        responseType(app, res.data);
                        relaodView(2000);
                    })
                })
            },
            updatetp(form) {
                this.dialogFormVisible = false;
                request('POST', '/updatetp', form, function (res) {
                    responseType(app, res.data);
                    relaodView(2000);
                })
            },
            updatePaper(p) {
                this.form2 = p;
                this.dialogFormVisible2 = true;
            }
        },
    });
    
    app.username = getUserInfo().username;

    request('GET', '/tps/' + getUserInfo().id, null, function (res) {
        app.papers = res.data;
    }, null);

</script>

</html>